logs/
output/
linepx/models/*.log
linepx/models/*.tar
linepx/models/?
linepx/models/?_test

test_data
src/test_data
*.pyc
*.o
*.so
*.png
*.jpg
*.mat
*.pkl
src/valres/
*tags
data/*
*__pycache__
reference/*
